h1,
p {
  font-family: Lato;
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 100px 0 100px;
}

#text {
  font-family: "Lora", serif;
  font-size: 30px;
}

#author {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  text-align: end;
}

#option {
  display: flex;
  justify-content: space-between;
}

#tweet-quote {
  text-decoration: none;
}

#twitter-icon {
  color: #38a1f3;
}

#twitter-icon:hover {
  transform: scale(1.4);
}

#new-quote {
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  background: #ffd000;
  font-size: 18px;
  padding: 10px 15px;
}

#new-quote:hover {
  transform: scale(1.1);
}
